<style>
html, body {
    height: 100%;
}
body {
    background-color: #282828;
    color: #ebdbbd;
    margin: 0em auto;
    max-width: 40em;
    padding: 0 .62em;
    display: flex;
    flex-direction: column;
}
header, footer {
    text-align: center;
    padding: .62em 0;
}
footer {
    flex-shrink: 0;
}
nav > a {
    text-decoration: none;
}
article {
    flex: 1 0 auto;
}
h1,h2,h3 {
    line-height: 1.2;
    color: #d65e03;
}
a {
    color: #458588
}
code {
    background-color: #3c3836;
    color: #98971a;
}
.portrait {
    display: block;
    margin: 0 auto;
    height: 240px;
}
</style>
